body{
    background-color: rgb(239, 204, 161);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width:500px;
    min-height: 250px;;
    background-color: white;
    border: black;
    border-radius: 5px;
    padding: 20px;
    
}
#header{
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
